
@{
    ViewBag.Title = "Adopt1";
}

<head>

</head>
<body style="background-color:#E4B295">
    <div style="padding-top:5em">
        <div style="width:200px;height:200px;background-color:#F9DFAD;border-radius:100px 100px;border:none;float:left">
            <img src="~/小米.jpg" style="width:200px;height:200px;background-color:#F9DFAD;border-radius:100px 100px;border:none;float:left" />
        </div>
    </div>
    <div style="padding-top:15em">
        <div style="width:200px;height:50px;background-color:#C06356;border-radius:50px 50px;border:none;text-align:center;font-size:30px;color:white;padding-top:0.2em">
            <b>小米</b>
        </div>
    </div>
    <div style="padding-top:1.5em;font-size:30px;"><b>毛孩故事:</b></div>
    <div style="width:400px;height:200px;background-color:#F9DFAD;border-radius:20px 20px;border:none;float:left;text-align:left;font-size:30px">
        <p>前右腳被捕獸夾夾斷，</p>
        <p>卻仍然願意相信人類，</p>
        <p>相當親人很難得。</p>
    </div>
    <div style="float:right;">
        <div style="padding-bottom:0.1em;font-size:30px;padding-top:0em"><b>我的個性:</b></div>
        <div style="width:400px;height:200px;background-color:#F9DFAD;border-radius:20px 20px;border:none;text-align:left;font-size:30px;">
            <p>相當親人黏人，聽到叫他的名字，就會興奮衝過來打招呼和討摸摸，是個討喜的孩子。</p>

        </div>
    </div>
    <div style="padding-top:10em;font-size:30px;"><b>健康日記:</b></div>
    <div style="font-size:30px;padding-top:0.3em">
        <p><b>狂犬病疫苗</b>&nbsp;&nbsp;&nbsp;<img src="~/check.png" style="width:30px" /></p>
        <p><b>結紮</b>&nbsp;&nbsp;&nbsp;<img src="~/check.png" style="width:30px" /></p>
    </div>
    <div style="float:right;padding-top:0em">
        <div style="padding-bottom:0.1em;font-size:30px;"><b>日常行為:</b></div>
        <div style="width:400px;height:300px;background-color:#F9DFAD;border-radius:20px 20px;border:none;text-align:left;font-size:30px;">
            <p>觸摸：OK</p>
            <p>攻擊性:無</p>
            <p>破壞性：非常穩定</p>
            <p>吠叫情形：不太會叫</p>
            <p>其他狗狗相處：OK</p>
        </div>
    </div>
    <br />
    <span style="float:right;padding-top:35em;text-align:center;padding-left:10em">
        <b>
            <input type="submit" value="上一頁"
                   style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="立即預約帶我回家"
                   style="background-color:white;width:180px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="成為雲端主人"
                   style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
        </b>
    </span>
</body>
