@{
    ViewBag.Title = "Create";
}
<head>
    <meta charset="utf-8">
    <script language="javascript">
            window.onload = function () {
                var show = @Html.Raw(Json.Encode(TempData["show"]));
                    if (show != null) {
                    alert(show);
                }
            }
    </script>
</head>

<body style="background-color:#E4B295">
    <div class="dowebok">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <style>
                        img {
                            float: left
                        }
                    </style>
                    <img src="~/2.png" width="30%" alt="IMG">
                </div>

                <form class="login100-form validate-form" action="@Url.Action("ResetPassword","Mail_")" method="post">
                    <!--form開頭新增action="#" method="post"-->
                    <div style="padding-left:40em;">
                        <div style="padding-top:10em;">
                            <span class="login100-form-title">
                                設定新的密碼
                            </span>
                            <h5>帳號:@TempData["Account"]</h5>
                            <div class="userPassword">

                                <div class="userPassword-input">
                                    <input type="password" id="userPassword" name="userPassword" pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$" required="required" oninput="setCustomValidity('');" oninvalid="setCustomValidity('至少6位元(英文加數字)');" placeholder="密碼:至少6位元(英文加數字)" />
                                </div>


                            </div>
                            &nbsp;
                            <div class="userRePassword">

                                <div class="userRePassword-input">
                                    <input type="password" id="userRePassword" name="userRePassword" class="userRePassword" value="" oninput="setCustomValidity('');" onchange="if(document.getElementById('userPassword').value != document.getElementById('userRePassword').value){setCustomValidity('密碼不吻合');}" placeholder="再次輸入密碼:" />
                                </div>
                            </div>
                            <br/>
                            &nbsp;
                                <input type="submit"value="更改密碼">
                            
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>
