
@{
    ViewBag.Title = "Adopt";
}

    <head>
        
        <style>
            #footer{
                min-width:1000px;
                height:45px;
            }
            .header {
                margin:0px 0px; padding:0px 0px;
                position: absolute;
                width: 100%;
                height: 10%;
                color:white;
                background: #D07D82;
                font-weight:bold;
                text-align:center;
                margin:0 auto;
            }
        </style>
    </head>
    <body style="background-color:#E4B295">
        <footer id="footer">
            <div class="header" style="text-align:center;width:1170px;line-height:60px;border:1px ;border-radius:30px 30px;border:none;font-size:30pt;padding-top:0.3em"> 帶我回家 </div>
        </footer>
        <div style="padding-top:5em;float:left">
            <div style="width:450px;height:300px;background-color:#F9DFAD;border-radius:30px 30px;border:none">
                <img src="~/帥哥.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>帥哥</b></p><br />
                 <ul>
                     <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;公</b></li>
                     &nbsp;
                     <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                 </ul><br />
                      <span style="padding-left:4em;"><b><input type="submit" value="看看我" 
                       style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px"></b>
                      </span>
            </div>
        </div>
        <div style="float:right;padding-top:5em">
            <div style="width:450px;height:300px;background-color:#FFDA93;border-radius:30px 30px;border:none">
                <img src="~/小米.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>小米</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;母</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;"><b><input type="submit" value="看看我" 
                   style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px"></b>
                </span>
            </div>
        </div>

        <div style="padding-top:3em;float:left">
            <div style="width:450px;height:300px;background-color:#F0D3ED;border-radius:30px 30px;border:none">
                <img src="~/豆花.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>豆花</b></p><br />
                <ul>
                <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;母</b></li>
                &nbsp;
                <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
        <div style="padding-top:3em;float:right">
            <div style="width:450px;height:300px;background-color:#FDCFF8;border-radius:30px 30px;border:none">
                <img src="~/歐罵罵.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>歐罵罵</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;母</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
        <div style="padding-top:3em;float:left">
            <div style="width:450px;height:300px;background-color:#FACAC7;border-radius:30px 30px;border:none">
                <img src="~/高鐵.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>高鐵</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;公</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
        <div style="padding-top:3em;float:right">
            <div style="width:450px;height:300px;background-color:#FFBCB8;border-radius:30px 30px;border:none">
                <img src="~/酷弟.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>酷弟</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;公</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
        <div style="padding-top:3em;float:left">
            <div style="width:450px;height:300px;background-color:#FAC17E;border-radius:30px 30px;border:none">
                <img src="~/小賴皮.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>小賴皮</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;母</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
        <div style="padding-top:3em;float:right">
            <div style="width:450px;height:300px;background-color:#F9B06E;border-radius:30px 30px;border:none">
                <img src="~/妮妮.jpg" style="width:200px;height:300px;float:left;border-radius:30px 0px 0px 30px;border:none" / >
                <p style="text-align:center;padding-top:1em;font-size:35px"><b>妮妮</b></p><br />
                <ul>
                    <li style="padding-left:8em;font-size:25px"><img src="~/sex.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;母</b></li>
                    &nbsp;
                    <li style="padding-left:8em;font-size:25px"><img src="~/icon2.png" style="width:40px" /><b>&nbsp;&nbsp;&nbsp;&nbsp;米克斯</b></li>
                </ul><br />
                <span style="padding-left:4em;">
                    <b>
                        <input type="submit" value="看看我"
                               style="background-color:white;width:150px;height:40px;border-radius:10px 10px;border:none;font-size:20px">
                    </b>
                </span>
            </div>
        </div>
    </body>
